<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" Inherits="ValidareMostre" Title="Validare Mostre" EnableTheming ="true" Codebehind="ValidareMostre.aspx.cs" %>
<%@ Import Namespace="System.Globalization" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    &nbsp;
    <asp:Panel ID="PanelV" runat="server" Width="90%">
    <a id="PageTop" name="PageTop"></a>
    <table style="width: 100%" border=0 cellspacing=2>
        <tr>
            <td style="width: 256px; height: 26px;">
                <asp:CustomValidator ID="CustomValidator1" runat="server" ClientValidationFunction="DateValidate"
                    ControlToValidate="datatestare" ErrorMessage="Data invalida!" OnServerValidate="CustomValidator1_ServerValidate"></asp:CustomValidator></td>
            <td style="width: 185px; height: 26px;">
                <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Names="Arial" Font-Size="12pt"
                    Text="Data testarii:"></asp:Label></td>
            <td style="height: 26px">
                <asp:TextBox ID="datatestare" CssClass="useDatepicker" AutoPostBack="True" runat="server"></asp:TextBox></td>
        </tr>
        <tr>
            <td style="width: 256px; height: 21px;">
            </td>
            <td style="width: 185px; height: 21px;">
                <asp:Label ID="Label2" runat="server" Font-Bold="True" Font-Names="Arial" Font-Size="12pt"
                    Text="Probe Validate:"></asp:Label></td>
            <td style="height: 21px">
                <asp:CheckBox ID="validated" runat="server"></asp:CheckBox></td>
        </tr>
        
        <tr>
        <td style="height: 21px">
                       	<asp:RegularExpressionValidator ID="regCod" runat="server"   Font-Size=8 ControlToValidate="codbare"
            ErrorMessage="Codul trebuie sa fie numeric <= 10 pozitii!!"   ValidationExpression="\d{1,10}"></asp:RegularExpressionValidator> 
        </td>
        <td style="height: 21px">
            <asp:Label ID="Label3" runat="server" Font-Bold="True" Font-Names="Arial" Font-Size="12pt"
                Text="Cod Bare:"></asp:Label></td>
        <td style="height: 21px">
            <asp:TextBox ID="codbare" runat="server"></asp:TextBox></td>
        </tr>
        <tr>
        <td colspan=3>
            <asp:Label ID="Label4" runat="server" Font-Bold="True" Font-Names="Arial" Font-Size="9pt"
                ForeColor="Red"></asp:Label></td>
        </tr>
        <tr bgcolor=seagreen>
            <td style="width: 33%; height: 26px;" align="center">
                <asp:Button ID="bedit" runat="server" Text="Editare" Font-Bold="True" Font-Names="Arial" Font-Size="Small" OnClick="Edit_Click" /></td>
            <td style="width: 33%; height: 26px;" align="center"><asp:Button ID="bsave" runat="server" Text="Salvare" Font-Bold="True" Font-Names="Arial" Font-Size="Small" OnClick="Save_Click" /></td>
            <td align="center" style="height: 26px"><asp:Button ID="babort" runat="server" Text="Abandonare" Font-Bold="True" Font-Names="Arial" Font-Size="Small" OnClick="Cancel_Click" /></td>
        </tr>
    </table>
    <br />
    <asp:Label ID="lcount" runat="server" Font-Bold="True" Font-Names="Arial" Font-Size="Medium"
        Width="129px"></asp:Label><br />
    <asp:Repeater ID="Repeater1" runat="server">
    <HeaderTemplate>
                <table id=table2 cellspacing=2 cellpadding =2 width=100%>
                <tr bgcolor="#00D269" class="heading">
                    <td style="width: 15%; height: 36px;">
                        Cod bare</td>
                           <td style="width: 5%; height: 36px;">
                        Rasa</td>
                    <td style="width: 15%; height: 36px;">
                        Data testare</td>
                    <td style="width: 5%; height: 36px;" >
                        Id zilnic</td>
                    <td style="width: 5%; height: 36px;" >
                        Prel. Id</td>    
                    <td style="width: 5%; height: 36px;" >
                        <br />
                        Grasime</td>
                    <td style="width: 5%; height: 36px;" >
                        % Proteina</td>
                    <td style="width: 5%; height: 36px;" >
                        % Cazeina</td>
                    <td style="width: 5%; height: 36px;" >
                        % Lactoza</td>
                    <td style="width: 5%; height: 36px;" >
                        Subst. uscata</td>
                    <td style="width: 5%; height: 36px;" >
                        pH</td>
 
              
                  
                    <td style="width: 5%; height: 36px;" >
                        Urea</td>
    
                    <td style="width: 5%; height: 36px;" >
                        NCS</td>
               
                   
                    <td style="width: 5%; height: 36px;" >
                        Definitiv</td>
                     <% if (Page.User.IsInRole("admin")) { %>   
                    <td style="width: 5%; height: 36px;">
                        Validat</td>
                        <%}else {%>
                        <td style="width: 5%; height: 36px;" bgcolor="#ffffff">&nbsp;</td>
                        <%}%>
                </tr>

              </HeaderTemplate>
                  <ItemTemplate>
                    <tr bgcolor="#3CB371" class="data">
                    <td style="height: 33px;">
                        <asp:Label ID="codbare" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "codbare") %>' SkinID=blackv ></asp:Label></td>
                           <td style="height: 33px;">
                        <asp:Label ID="rasa" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "rasa") %>' SkinID=blackv ></asp:Label></td>
                    <td style="height: 33px;">
                        <asp:Label ID="datat" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "datat","{0:dd/MM/yyyy}") %>'  SkinID=blackv></asp:Label></td>
                        
                    <td style="height: 33px;" >
                        <asp:Label ID="idzilnic" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "idzilnic") %>' SkinID=blackv></asp:Label></td>
                        
                          <td style="height: 33px;" bgcolor="#00D269">                                    
                        <asp:TextBox ID="prelid" runat="server" Font-Names="Arial" Font-Size="9pt" Width="43px" Text='<%# DataBinder.Eval(Container.DataItem,"prelid") %>' Enabled=<%#((!Page.User.IsInRole("admin")) && (Convert.ToInt32(DataBinder.Eval(Container.DataItem,"definitiv")) == 1))? false:true %>></asp:TextBox>
                        </td>
                        
                    <td style="height: 33px;" bgcolor=<%# (UMostre.VerificGrasime(Convert.ToString(DataBinder.Eval(Container.DataItem,"grasime"))) == 1) ? "#ff0000" : "#00D269" %>>                                    
                        <asp:TextBox ID="grasime" runat="server" Font-Names="Arial" Font-Size="9pt" Width="43px" Text='<%# (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"grasime"), CultureInfo.InvariantCulture) == 0 ? "": (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"grasime"), CultureInfo.InvariantCulture) == 0.00001 ) ? "0": DataBinder.Eval(Container.DataItem,"grasime"))  %>' Enabled=<%#((!Page.User.IsInRole("admin")) && (Convert.ToInt32(DataBinder.Eval(Container.DataItem,"definitiv")) == 1))? false:true %>></asp:TextBox>
                        </td>
                    <td style="height: 33px;" bgcolor=<%# (UMostre.VerificProteine(Convert.ToString(DataBinder.Eval(Container.DataItem,"proteina"))) == 1) ? "#ff0000" : "#00D269" %>>
                        <asp:TextBox ID="proteina" runat="server" Font-Names="Arial" Font-Size="9pt" Width="43px" Text='<%# (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"proteina"), CultureInfo.InvariantCulture) == 0 ? "":(Convert.ToDouble(DataBinder.Eval(Container.DataItem,"proteina"), CultureInfo.InvariantCulture) == 0.00001 ) ? "0": DataBinder.Eval(Container.DataItem,"proteina"))  %>' Enabled=<%#((!Page.User.IsInRole("admin")) && (Convert.ToInt32(DataBinder.Eval(Container.DataItem,"definitiv")) == 1))? false:true %>></asp:TextBox></td>
                
                       <td style="height: 33px;" bgcolor=<%# (UMostre.VerificCasein(Convert.ToString(DataBinder.Eval(Container.DataItem,"casein"))) == 1) ? "#ff0000" : "#00D269" %>>
                        <asp:TextBox ID="caseina" runat="server" Font-Names="Arial" Font-Size="9pt" Width="43px" Text='<%# (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"casein"), CultureInfo.InvariantCulture) == 0 ? "":(Convert.ToDouble(DataBinder.Eval(Container.DataItem,"casein"), CultureInfo.InvariantCulture) == 0.00001 ) ? "0": DataBinder.Eval(Container.DataItem,"casein"))  %>' Enabled=<%#((!Page.User.IsInRole("admin")) && (Convert.ToInt32(DataBinder.Eval(Container.DataItem,"definitiv")) == 1))? false:true %>></asp:TextBox></td>
                         
                    <td style="height: 33px;" bgcolor=<%# (UMostre.VerificLactoza(Convert.ToString(DataBinder.Eval(Container.DataItem,"lactoza"))) == 1) ? "#ff0000" : "#00D269" %>>
                        <asp:TextBox ID="lactoza" runat="server" Font-Names="Arial" Font-Size="9pt" Width="43px" Text='<%# (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"lactoza"), CultureInfo.InvariantCulture) == 0 ? "": (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"lactoza"), CultureInfo.InvariantCulture) == 0.00001 ) ? "0": DataBinder.Eval(Container.DataItem,"lactoza"))  %>' Enabled=<%#((!Page.User.IsInRole("admin")) && (Convert.ToInt32(DataBinder.Eval(Container.DataItem,"definitiv")) == 1))? false:true %>></asp:TextBox></td>
                    <td style="height: 33px;" bgcolor=<%# (UMostre.VerificSolids(Convert.ToString(DataBinder.Eval(Container.DataItem,"substu"))) == 1) ? "#ff0000" : "#00D269" %>>
                        <asp:TextBox ID="substu" runat="server" Font-Names="Arial" Font-Size="9pt" Width="43px" Text='<%# (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"substu"), CultureInfo.InvariantCulture) == 0 ? "": (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"substu"), CultureInfo.InvariantCulture) == 0.00001 ) ? "0": DataBinder.Eval(Container.DataItem,"substu"))  %>' Enabled=<%#((!Page.User.IsInRole("admin")) && (Convert.ToInt32(DataBinder.Eval(Container.DataItem,"definitiv")) == 1))? false:true %>></asp:TextBox></td>
                    <td style="height: 33px;" bgcolor=<%# (UMostre.VerificPh(Convert.ToString(DataBinder.Eval(Container.DataItem,"ph"))) == 1) ? "#ff0000" : "#00D269" %>>
                        <asp:TextBox ID="ph" runat="server" Font-Names="Arial" Font-Size="9pt" Width="43px" Text='<%# (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"ph"), CultureInfo.InvariantCulture) == 0 ? "": (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"ph"), CultureInfo.InvariantCulture) == 0.00001 ) ? "0": DataBinder.Eval(Container.DataItem,"ph"))  %>' Enabled=<%#((!Page.User.IsInRole("admin")) && (Convert.ToInt32(DataBinder.Eval(Container.DataItem,"definitiv")) == 1))? false:true %>></asp:TextBox></td>
                  
                     <td style="height: 33px;" bgcolor=<%# ((Convert.ToDouble(DataBinder.Eval(Container.DataItem,"urea"), CultureInfo.InvariantCulture) >= 0.1) && UMostre.VerificUrea(Convert.ToString(DataBinder.Eval(Container.DataItem,"urea"))) == 1) ? "#ff0000" : "#00D269" %>>
                        <asp:TextBox ID="urea" runat="server" Font-Names="Arial" Font-Size="9pt" Width="43px" Text='<%# (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"urea"), CultureInfo.InvariantCulture) == 0 ? "": (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"urea"), CultureInfo.InvariantCulture) == 0.00001 ) ? "": (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"urea"), CultureInfo.InvariantCulture) < 0.1) ? "" : DataBinder.Eval(Container.DataItem,"urea"))  %>' Enabled=<%#((!Page.User.IsInRole("admin")) && (Convert.ToInt32(DataBinder.Eval(Container.DataItem,"definitiv")) == 1))? false:true %>></asp:TextBox></td>    
                    <td style="height: 33px;" bgcolor=<%# (UMostre.VerificNCS(Convert.ToString(DataBinder.Eval(Container.DataItem,"ncs"))) == 1) ? "#ff0000" : "#00D269" %>>
                        <asp:TextBox ID="ncs" runat="server" Font-Names="Arial" Font-Size="9pt" Width="43px" Text='<%# (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"ncs"), CultureInfo.InvariantCulture) == 0 ? "": (Convert.ToDouble(DataBinder.Eval(Container.DataItem,"ncs"), CultureInfo.InvariantCulture) == 0.00001 ) ? "0": DataBinder.Eval(Container.DataItem,"ncs"))  %>' Enabled=<%#((!Page.User.IsInRole("admin")) && (Convert.ToInt32(DataBinder.Eval(Container.DataItem,"definitiv")) == 1))? false:true %>></asp:TextBox></td>
            
                  <td style="height: 33px;" >
                        <asp:CheckBox ID="definitiv" runat="server"  AutoPostBack=false  Checked=<%#(Convert.ToInt32(DataBinder.Eval(Container.DataItem,"definitiv")) == 1) ? true:false%>  Enabled=<%#((!Page.User.IsInRole("admin")) && (Convert.ToInt32(DataBinder.Eval(Container.DataItem,"definitiv")) == 1))? false:true %>  /></td>
                    <td style="height: 33px;" bgcolor=<%# (Page.User.IsInRole("admin"))? "#00D269":"#ffffff"%>>
                        <asp:CheckBox ID="validat" runat="server" Checked=<%#(Convert.ToInt32(DataBinder.Eval(Container.DataItem,"validat")) == 1) ? true:false%> Visible=<%#(Page.User.IsInRole("admin"))? true:false%> /></td>


                </tr>

               
               </ItemTemplate>

                <FooterTemplate>
              </table>
              </FooterTemplate>  
    </asp:Repeater>
        <br />
        <table width=90%>
            <tr>
                <td style="height: 21px; width: 300px;">
                </td>
                <td style="width: 100px; height: 21px">
                </td>
                <td style="height: 21px" align="right">
                    <asp:Button ID="Button1" runat="server" BackColor="MediumSeaGreen" Font-Bold="True"
                        Font-Names="Arial" Font-Size="10pt" OnClick="Button1_Click1" Text="Validare" /></td>
            </tr>
            <tr>
                <td>
                </td>
                <td></td>
                <td>
                <a href="ValidareMostre.aspx#PageTop" title="Top" id=top runat=server visible=false>La inceputul paginii</a> 
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
        <br />
   
   </asp:Panel>
    <br />
    <br />
    
	
	<script type="text/javascript" language="javascript">
	    $(window).load(function () {
	        $('#<%=datatestare.ClientID%>').datepicker({ dateFormat: 'dd/mm/yy', firstDay: 1 });
		});

	</script>
</asp:Content>

