﻿.heading {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: arial;
}

.headgreen {
    FONT-SIZE: 10pt;
    COLOR: #3CB371;
    FONT-FAMILY: arial;
}

.data {
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial;
}

.style1 {
    height: 20px;
    width: 81px;
}

.style2 {
    width: 159px;
}

.style3 {
    width: 125px;
}

.grass, .grass TD, .grass TH {
    background-image: url('images/green-grass.jpg');
}

.leftbutton {
    padding-left: 0pt;
}

.gridCheckBox {
    text-align: center;
}

    .gridCheckBox input[type='checkbox'] {
        width: 20px;
        height: 20px;
    }

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.table {
    border-collapse: collapse;
}

.table td {
    border: 1px solid black;
      background-color: #E3EAEB;
    padding: 3px;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.panelUnder {
   
    font-size: 2em;
    clear:both;
}

.downloadButton {
    float:right;
    background-color:#3c404b !important;
    color: white;
    white-space: normal;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px;
  margin-bottom: 10px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 10px;
  width: 100%;
}

.col-1-4 {
    width: 25%;
  }
.col-1-8 {
    width: 5%;
  }
.paddingPanels {
    padding: 30px 0px 30px 0px;
}
.paddingPanelsLogs {
    padding: 30px 0px 30px 0px;
    margin-left:30%;
}
